{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ post.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>🔒 Iniciar Sesión</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <button type="submit">Entrar</button>
    </form>

    <p class="cancel-link">
        ¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>
    </p>

</body>

</html>