{% extends "base.html" %}

{% block title %}Lista de Posts | {{ titulo_pagina }}{% endblock title %}

{% block content %}

<h1>{% block encabezado %}Últimas Entradas del Blog{% endblock encabezado %}</h1>

{% if lista_posts %}
{% for post in lista_posts %}
<article>
    <h2>
        <a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.titulo }}</a>
    </h2>

    <p class="post-metadata">
        Publicado por <strong>{{ post.autor.username }}</strong> el {{ post.fecha_publicacion|date:"F j, Y" }}
    </p>

    <p class="back-link">
        <a href="{% url 'blog:post_detail' slug=post.slug %}">Leer más →</a>
    </p>

</article>
{% endfor %}
{% else %}
<p>Aún no hay posts publicados.</p>
{% endif %}

{% endblock content %}